<html>
    <head>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <form>
            <p>
            Rectangulo contenedor: <br>
            (x):<input type="number" id="lado_x" max="99" value="1" style="width: 3em;">
            (y):<input type="number" id="lado_y" max="99" value="1" style="width: 3em;"><br>
            Rectangulo interior:<br>
            (a):<input type="number" id="lado_a" max="99" value="1" style="width: 3em;">
            (b):<input type="number" id="lado_b" max="99" value="1" style="width: 3em;">
            <button type="button" onclick="calcular()">calcular</button>
        </p>
        <svg id="areaDibujo" viewBox="0 0 1000 1000"></svg>

        </form>
    </body>

</html>